body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #111;
  overflow: hidden;
}

.cmd-container {
  background-color: #000;
  padding: 20px;
  border: 2px solid #00ff00;
  overflow: hidden;
  width: 100%;
}

.cmd-text {
  color: #00ff00;
  font-family: 'Courier New', monospace;
  white-space: pre;
  margin: 0;
  font-size: 12px;
  line-height: 1.4;
  animation: animateCmd 60s linear infinite;
}
.cmd-text .highlight {
  color: #ff0000; /* Color para resaltar, puedes ajustarlo según tus preferencias */
}

@keyframes animateCmd {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
